[submodule "contracts/dependencies/holyzeppelin"]
	path = contracts/dependencies/holyzeppelin
	url = git@github.com:Mimir-Solutions/holyzeppelin.git
[submodule "contracts/dependencies/authorization-platform"]
	path = contracts/dependencies/authorization-platform
	url = git@github.com:Mimir-Solutions/authorization-platform.git
